extends layout

block content
  .row
    .container
      table.table.table-striped
        thead
          tr
            th Titulo
            th criado em
            th
            th

        tbody
          each question in questions
            tr
              td: a(href='/form/#{question._id}') #{question.body}
              td #{question.created_at}
              td
                | <a href='/form/answers/#{question._id}'>respostas</a>
