extends ../layout

block content
  .container
    form(action='/form/new', method='post').col-md-6.col-md-push-3
      .form-group
        textarea.form-control(name='body', placeholder='Qual a sua duvida?')

      hr
      .form-group
        button.btn.btn-primary.pull-right(type='submit') Salvar
